# BigQuery basics

[BigQuery](https://cloud.google.com/bigquery/docs/) is a petabyte-scale analytics data warehouse that you can use to run SQL queries over vast amounts of data in near realtime. This page shows you how to get started with the Google BigQuery API using the Python client library.

## Import the libraries used in this tutorial

In [2]:
from google.cloud import bigquery
import pandas as pd
pd.set_option('display.max_columns', 500)

In [3]:
client = bigquery.Client(location="EU")
print("Client creating using default project: {}".format(client.project))

Client creating using default project: pacific-destiny-243512

## Run a query on a public dataset


Use the [Client.query](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.client.Client.html#google.cloud.bigquery.client.Client.query) method to run the query, and the [QueryJob.to_dataframe](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe) method to return the results as a pandas [`DataFrame`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html).

In [14]:
query = """
    SELECT
  wx.date,
  wx.value/10.0 AS prcp
FROM
  `bigquery-public-data.ghcn_d.ghcnd_2015` AS wx
WHERE
  date >= "2015-01-01"
  AND date <= "2015-12-31"
  AND id = 'UKM00003772'
  AND qflag IS NULL
  AND element = 'PRCP'
ORDER BY 
  wx.date 
DESC
"""
query_job = client.query(
    query,
    # Location must match that of the dataset(s) referenced in the query.
    location="US",
)  # API request - starts the query

df = query_job.to_dataframe()
df.head()

         date  prcp
0  2015-12-31   7.1
1  2015-12-30   0.3
2  2015-12-29   1.3
3  2015-12-28   0.3
4  2015-12-27   0.0

## All the weather stations in the UK?

In [18]:
# Using a range of lat/lon coordinates, find weather stations in or near London, UK

query = """
SELECT
  id,
  name,
  state,
  latitude,
  longitude
FROM
  `bigquery-public-data.ghcn_d.ghcnd_stations`
WHERE
  id LIKE 'UK%'
"""

query_job = client.query(
    query,
    # Location must match that of the dataset(s) referenced in the query.
    location="US",
)  # API request - starts the query

london_stations = query_job.to_dataframe()
london_stations

              id                            name state  latitude  longitude
0    UK000044841  HULL                                   53.7700    -0.3700
1    UKE00100808  HULL                                   53.7667     0.3667
2    UKE00108855  TERRINGTON ST CLEMENT                  52.7450     0.2900
3    UKE00105865  INVERNESS                              57.4867    -4.2231
4    UKE00105926  HAYLING ISLAND                         50.7839     0.9839
5    UKE00105636  KINLOSS                                57.6500    -3.5700
6    UKE00105863  HAWARDEN BRIDGE                        53.2167    -3.0281
7    UKE00105929  RHUM: KINLOCH                          57.0139    -6.2867
8    UKE00105895  SKEGNESS                               53.1467     0.3489
9    UKE00156844  CAWOOD                                 53.8275    -1.1467
10   UKE00105897  EAST BERGHOLT                          51.9589     1.0267
11   UKE00105919  BOGNOR REGIS                           50.7808     0.6758
12   UKE00105920  EASTBOURNE                             50.7589     0.2850
13   UKE00156860  LOSSIEMOUTH                            57.7117    -3.3217
14   UKE00156868  MORECAMBE NO 2                         54.0758    -2.8581
15   UK000003026  STORNOWAY AIRPORT                      58.3300    -6.3200
16   UKE00107640  TIREE                                  56.4967    -6.8867
17   UKE00105869  SWANAGE                                50.6139    -1.9581
18   UKE00105886  LEUCHARS                               56.3767    -2.8617
19   UKE00105923  HURN                                   50.7789    -1.8339
20   UKE00156832  BLACKPOOL SQUIRES GATE                 53.7742    -3.0381
21   UK000003302  VALLEY                                 53.2500    -4.5331
22   UKE00105930  BENMORE: YOUNGER BOTANIC GARDE         56.0281    -4.9858
23   UKE00105648  CAMBRIDGE (B. GDNS)                    52.1931     0.1317
24   UKM00003014  FOULA NO2                              60.1170    -2.0670
25   UKE00105873  BUDE                                   50.8281    -4.5458
26   UKM00003017  KIRKWALL                               58.9580    -2.9050
27   UKE00105924  EVERTON                                50.7417    -1.5739
28   UKE00108854  RONALDSWAY                             54.0850    -4.6331
29   UKE00115811  LOWESTOFT MONKTON AVENUE               52.4831     1.7308
..           ...                             ...   ...       ...        ...
128  UKW00035036  SCULTHORPE                             52.8500     0.7667
129  UKW00035034  LAKENHEATH RAF                         52.4000     0.5667
130  UKW00035046  MILDENHALL                             52.3667     0.4833
131  UKM00003100  TIREE                                  56.4990    -6.8690
132  UKM00003171  LEUCHARS                               56.3730    -2.8680
133  UKM00003862  BOURNEMOUTH                            50.7800    -1.8430
134  UKW00035052  EAST KIRKBY                            53.1333     0.0000
135  UKW00035048  BENTWATERS                             52.1333     1.4333
136  UKW00015018  BASSINGBOURN                           52.1000     0.0500
137  UKW00015040  GREENHAM                               51.3833    -1.2833
138  UKW00015014  MOLESWORTH                             52.3833     0.4167
139  UKW00035049  STANTON                                52.3167     0.9167
140  UKM00003590  WATTISHAM                              52.1270     0.9560
141  UKW00015037  UPPER HEYFORD                          51.9333    -1.2500
142  UKW00015036  OXFORD                                 51.7500    -1.5833
143  UKW00015038  FAIRFORD                               51.6833    -1.7833
144  UKW00035054  WEST MALLING                           51.2833     0.4000
145  UKW00015042  BRUNTINGTHORPE                         52.4667    -1.1167
146  UKW00015027  WARRINGTON                             53.3833    -2.6500
147  UKW00035035  MARHAM                                 52.6500     0.5500
148  UKW00015034  WYTON                                  52.3500     0.1167
149  UKW00035047  MANSTON                                51.3500     1.3667
150  UKW00015035  WADDINGTON                             53.1667     0.5167
151  UKM00003772  HEATHROW                               51.4780    -0.4610
152  UKW00035051  WOODBRIDGE                             52.0833     1.4000
153  UKW00035050  WETHERSFIELD                           51.9667     0.5000
154  UKM00003917  ALDERGROVE                             54.6580    -6.2160
155  UKW00015033  HUNTINGTON                             52.3667     0.2167
156  UKM00003740  LYNEHAM                                51.5050    -1.9930
157  UKM00003066  KINLOSS                                57.6490    -3.5610

[158 rows x 5 columns]

#### Plot all UK weather stations on a map